.ticket__comment-form
  form.form.comment-form(action=`/offers/${offer.id}` method='post')
    input(type="hidden" name="_csrf" value=csrfToken)
    .comment-form__header
      a.comment-form__avatar.avatar(href='#')
        img(src=`/img/${user.avatar}` alt='Аватар пользователя')
      p.comment-form__author Вам слово
    .comment-form__field
      .form__field
        textarea#comment-field.js-field(name='comment' cols='30' rows='10' maxlength='400' minlength='20') Нормальное вообще кресло! А как насч
        label(for='comment-field') Текст комментария
        span Обязательное поле
    +showMessages(errorMessage)
    button.comment-form__button.btn.btn--white.js-button(type='submit' disabled='') Отправить
